{% load i18n %}
{% if user.is_authenticated %}
<form id="logoutForm" action="{%  url 'logout' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">{{ user.name }}</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">{% trans "Logout" %}</a></li>
    </ul>
</form>
{% else %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
</ul>
{% endif %}
